@use '../util' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

main {
  display: grid;
  gap: rem(26);

  @include breakpoint-up(medium) {
    place-items: center;
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(130);
  }
}

.menu-modal {
  width: rem(250);
  max-height: 100vh;
  height: 100%;
  margin: 0;
  border: none;
  padding-block: rem(25);
  padding-inline: rem(25);

  &__close {
    width: rem(18);
    height: rem(18);
    margin-bottom: rem(55);
    border: none;
    background-color: var(--white);
    background-image: url('../images/icon-close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    > *:not(:last-child) {
      margin-bottom: rem(33);
    }
  
    li {
  
      a {
        font-size: rem(15);
        font-weight: 700;
        color: var(--black);
      }
    }
  }

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 75%);
  }
}

.fixed-position {
  position: fixed;
  padding-left: rem(15);
}

.modalSlider {
  position: relative;
  display: grid;
  place-items: center;
  width: fit-content;
  height: rem(730);
  max-height: rem(730);
  margin-block: rem(86);
  border: none;
  padding: 0;
  background-color: transparent;
  overflow: visible;

  &__close {
    width: rem(21);
    height: rem(21);
    place-self: end;
    margin-bottom: rem(23);
    border: none;
    background-color: transparent;
    background-image: url('../images/icon-close-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
  }

  &__poster {
    position: relative;
    width: rem(551);
    height: rem(548);
    margin-bottom: rem(40);

    button {
      position: absolute;
      border: none;
      border-radius: 50%;
      background-color: var(--white);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: rem(10) rem(14);
      cursor: pointer;
    }

    &--imgs {
      width: 100%;
      height: 100%;
      user-select: none;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--hide {
      display: none;
    }

    &--show {
      display: block;
    }
  
    &--prev {
      width: rem(42);
      height: rem(42);
      top: 50%;
      transform: translate(-50%,-50%);
      background-image: url('../images/icon-previous.svg');
    }
  
    &--next {
      width: rem(42);
      height: rem(42);
      top: 50%;
      left: 100%;
      transform: translate(-50%,-50%);
      background-image: url('../images/icon-next.svg');
    }
  }

  &__thumbnail {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: rem(30);

    div {
      position: relative;
      width: rem(91);
      height: rem(94);
      border-radius: rem(13);
      background-color: var(--white);
      cursor: pointer;
    }

    &--img {
      width: 100%;
      height: 100%;
      border-radius: rem(10);
      transition: opacity 300ms ease-in;
      cursor: pointer;

      &:hover{
        opacity: .5;
      }
    }

    &--selected {
      opacity: .5;
    }

    &--border {
      border: rem(3) solid var(--orange);
    }
  }

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 75%);
    height: 100%;
    max-height: 100vh;
  }
}