@use '../util' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

main {
  display: grid;
  gap: rem(26);

  @include breakpoint-up(medium) {
    place-items: center;
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(130);
  }
}