@use '../util' as *;

.nav {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: rem(20);
  padding-bottom: rem(25);
  padding-inline: rem(25);

  @include breakpoint-up(large) {
    border-bottom: rem(1) solid var(--gray-blue);
    margin-bottom: rem(90);
    padding-top: rem(28);
    padding-bottom: rem(35);
    padding-inline: 0;
  }

  &__menu {
    width: rem(18);
    height: rem(16);
    margin-right: rem(16);
    border: none;
    background-color: var(--white);
    background-image: url('/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;

    @include breakpoint-up(large) {
      display: none;
    }

    &:focus {
      background-image: url('/images/icon-menu-black.svg');
    }
  }

  &__logo {
    width: rem(138);
    height: rem(22);

    @include breakpoint-up(large) {
      margin-right: rem(58);
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    gap: rem(33);
    list-style-type: none;
    padding: 0;
    margin: 0;

    &--li {
      position: relative;
      font-size: rem(13);
      color: var(--dk-gray-blue);

      a {
        color: var(--dk-gray-blue);
      }

      &::before {
        content: '';
        position: absolute;
        opacity: 0;
        height: rem(5);
        width: 100%;
        top: 399%;
        background-color: var(--orange);
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        
        &::before {
          opacity: 1;
        }
      }
    }
    
    @include breakpoint-down(medium) {
      display: none;
    }
  }

  &__separator {
    flex-grow: 1;
  }

  &__cart {
    width: rem(23);
    height: rem(22);
    margin-right: rem(24);
    border: none;
    background-color: var(--white);
    background-image: url('/images/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;

    @include breakpoint-up(large) {
      margin-right: rem(48);
    }

    &:focus {
      background-image: url('/images/icon-cart-black.svg');
    }
  }

  &__avatar {
    position: relative;
    width: rem(25);
    height: rem(25);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    @include breakpoint-up(large) {
      width: rem(52);
      height: rem(52);
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      border: rem(3) solid var(--orange);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }

    &:hover {

      &::before {
        opacity: 1;
      }
    }
  }
  
  &__dialog {
    width: 96%;
    //height: rem(257);
    position: absolute;
    top: 107%;
    border: none;
    border-radius: rem(10);
    padding-inline: 0;
    padding-block: 0;
    background-color: var(--white);
    z-index: 1;

    &--header {
      border-bottom: rem(1) solid var(--gray-blue);
      padding-block: rem(26);
      padding-inline: rem(25);
      font-size: rem(16);
      font-weight: 700;
      color: var(--very-dk-blue);
    }

    &--empty {
      height: rem(185);
      display: grid;
      justify-content: center;
      align-items: center;
      padding-block: rem(24);
      padding-inline: rem(25);
      font-size: rem(14);
      font-weight: 700;
      color: var(--dk-gray-blue);
    }

    &--content {
      padding-top: rem(24);
      padding-bottom: rem(30);
      padding-inline: rem(24);

      div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: rem(16);
        margin-bottom: rem(27);

        img {
          width: rem(50);
          height: rem(50);
          border-radius: rem(5);
        }

        div {
          height: min-content;
          width: rem(213);
          flex-grow: 1;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          gap: rem(10);
          margin-bottom: 0;
          color: var(--dk-gray-blue);

          p {
            margin: 0;
            width: rem(190);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        button {
          width: rem(16);
          height: rem(18);
          border: none;
          border-radius: 0;
          padding: 0;
          background-color: var(--white);
          background-image: url('/images/icon-delete.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }
      }

      button {
        width: 100%;
        border: none;
        border-radius: rem(10);
        padding-block: rem(20);
        background-color: var(--orange);
        font-size: rem(15);
        font-weight: 700;
        color: var(--white);
        cursor: pointer;
      }
    }

    @include breakpoint-up(medium) {
      top: 93%;
      max-width: rem(360);
      margin: 0;
      margin-left: auto;
    }
  }
}

.total {
  font-weight: 700;
  color: var(--very-dk-blue);
}